# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# OS files
.DS_Store
Thumbs.db